.App {
  text-align: center;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}
li button {
  margin-right: 1rem;
}

.strike {
  text-decoration: line-through;
  color: red;
  border: red solid 2px;
}

button {
  width: 35%;
  padding: 0.5rem;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width: 50%;
}

label {
  margin-bottom: 2rem;
}
.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 1000px) {
  button {
    width: 15%;
    padding: 0.5rem;
  }
  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
  }
  li button {
    margin-right: 2rem;
  }

  .strike {
    text-decoration: line-through;
    color: red;
    border: red solid 2px;
  }

  .input-form {
    margin-right: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}
